@page "/"
@inject IAuthService Auth
@inject NavigationManager Nav

<PageTitle>Home</PageTitle>

<h1 class="bg-orange">CONTENT</h1>

<div class="font-gotham font-thin">
    Gotham Black Heading
</div>

Gotham

@code {

    protected override void OnInitialized()
    {
        if (!Auth.IsAuthenticated)
        {
            Nav.NavigateTo("/login");
        }
    }
}